<div class="container">
	<h1>Systems Analysis Group II Welcome Page</h1>
	<p>Hey guys great meeting this morning. We're going to really kick butt in our interviews wednesday. Have an awesome weekend!</p>

	<a href="https://www.facebook.com/groups/618799558252249/">A Facebook Group For Us</a>

	<p>This is my webserver we can host our prototype here!</p>

	<br>
	<p>Communication is Key here is my contact info</p>

	<p>Facebook: JP Stearns</p>
	<p>Gmail: Jared.Patrick.Stearns@gmail.com</p>
	<p>GitHub: jpstearns </p>
</div>