body {
	width: 100%;
	margin: auto;
	background-color: #5266BE;
}
/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	.container {
		margin-left: auto;
		margin-right: auto;

		/* width: (containers) */
		width: 100%px;
	}

	/* Modifiers */

		/* 125% */
			.container.\31 25\25 {
				width: 100%;

				/* max-width: (containers * 1.25) */
				max-width: 1500px;

				/* min-width: (containers) */
				min-width: 1200px;
			}

		/* 75% */
			.container.\37 5\25 {

				/* width: (containers * 0.75) */
				width: 900px;

			}

		/* 50% */
			.container.\35 0\25 {

				/* width: (containers * 0.50) */
				width: 600px;

			}

		/* 25% */
			.container.\32 5\25 {

				/* width: (containers * 0.25) */
				width: 300px;

			}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
	}

	.row > * {
		float: left;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	/* Gutters */

		/* Normal */

			.row > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 40px 0 0 40px;
			}

			.row {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -40px 0 -1px -40px;
			}

			.row.uniform > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 40px 0 0 40px;
			}

			.row.uniform {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -40px 0 -1px -40px;
			}

		/* 200% */

			.row.\32 00\25 > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 80px 0 0 80px;
			}

			.row.\32 00\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -80px 0 -1px -80px;
			}

			.row.uniform.\32 00\25 > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 80px 0 0 80px;
			}

			.row.uniform.\32 00\25 {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -80px 0 -1px -80px;
			}

		/* 150% */

			.row.\31 50\25 > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 60px 0 0 60px;
			}

			.row.\31 50\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -60px 0 -1px -60px;
			}

			.row.uniform.\31 50\25 > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 60px 0 0 60px;
			}

			.row.uniform.\31 50\25 {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -60px 0 -1px -60px;
			}

		/* 50% */

			.row.\35 0\25 > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 20px 0 0 20px;
			}

			.row.\35 0\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -20px 0 -1px -20px;
			}

			.row.uniform.\35 0\25 > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 20px 0 0 20px;
			}

			.row.uniform.\35 0\25 {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -20px 0 -1px -20px;
			}

		/* 25% */

			.row.\32 5\25 > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 10px 0 0 10px;
			}

			.row.\32 5\25 {
				/* margin: -(gutters.horizontal) 0 -1px -(gutters.vertical) */
				margin: -10px 0 -1px -10px;
			}

			.row.uniform.\32 5\25 > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 10px 0 0 10px;
			}

			.row.uniform.\32 5\25 {
				/* margin: -(gutters.vertical) 0 -1px -(gutters.vertical) */
				margin: -10px 0 -1px -10px;
			}

		/* 0% */

			.row.\30 \25 > * {
				padding: 0;
			}

			.row.\30 \25 {
				margin: 0 0 -1px 0;
			}

	/* Cells */

		.\31 2u, .\31 2u\24 { width: 100%; clear: none; margin-left: 0; }
		.\31 1u, .\31 1u\24 { width: 91.6666666667%; clear: none; margin-left: 0; }
		.\31 0u, .\31 0u\24 { width: 83.3333333333%; clear: none; margin-left: 0; }
		.\39 u, .\39 u\24 { width: 75%; clear: none; margin-left: 0; }
		.\38 u, .\38 u\24 { width: 66.6666666667%; clear: none; margin-left: 0; }
		.\37 u, .\37 u\24 { width: 58.3333333333%; clear: none; margin-left: 0; }
		.\36 u, .\36 u\24 { width: 50%; clear: none; margin-left: 0; }
		.\35 u, .\35 u\24 { width: 41.6666666667%; clear: none; margin-left: 0; }
		.\34 u, .\34 u\24 { width: 33.3333333333%; clear: none; margin-left: 0; }
		.\33 u, .\33 u\24 { width: 25%; clear: none; margin-left: 0; }
		.\32 u, .\32 u\24 { width: 16.6666666667%; clear: none; margin-left: 0; }
		.\31 u, .\31 u\24 { width: 8.3333333333%; clear: none; margin-left: 0; }

		.\31 2u\24 + *,
		.\31 1u\24 + *,
		.\31 0u\24 + *,
		.\39 u\24 + *,
		.\38 u\24 + *,
		.\37 u\24 + *,
		.\36 u\24 + *,
		.\35 u\24 + *,
		.\34 u\24 + *,
		.\33 u\24 + *,
		.\32 u\24 + *,
		.\31 u\24 + * {
			clear: left;
		}

		.\-11u { margin-left: 91.6666666667% }
		.\-10u { margin-left: 83.3333333333% }
		.\-9u { margin-left: 75% }
		.\-8u { margin-left: 66.6666666667% }
		.\-7u { margin-left: 58.3333333333% }
		.\-6u { margin-left: 50% }
		.\-5u { margin-left: 41.6666666667% }
		.\-4u { margin-left: 33.3333333333% }
		.\-3u { margin-left: 25% }
		.\-2u { margin-left: 16.6666666667% }
		.\-1u { margin-left: 8.3333333333% }
#wrapper {
	min-height:100%;
	position:relative;
}
.container{
	width: 80%;
	margin: 0 auto;
	color: black;
	background-image: url('assets/casino.jpg');
}

.header{
	background: #303C74;
	width: 100%;
	top: 0;
	position: fixed;
}
.logo{
	float: left;
	font-family: "Helvetica";
	font-size: 15px;
	color: white;
}

li{
	list-style: none;
	float: left;
	margin-left: 0px;
	padding-top: 5px;
}
.nav{
	float: right;
	color: white;
}
.content {
	padding:150px;
	padding-bottom:80px;   /* Height of the footer element */
}


	body,
	#skel-layers-wrapper {
		background: #f7f7f7 url("images/bg01.png");
	}

	body.is-loading * {
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	body, input, select, textarea {
		color: black;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14pt;
		font-weight: 300;
		line-height: 1.5em;
	}

	a {
		-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		color: #37c0fb;
		text-decoration: none;
	}

		a:hover {
			color: #37c0fb;
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	p, ul, ol, dl, table, blockquote {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 1em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

		h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
			font-style: normal;
			font-weight: 300;
		}

	h2 {
		font-size: 1.75em;
		letter-spacing: -0.025em;
	}

	h3 {
		font-size: 1em;
		letter-spacing: -0.025em;
		margin-left: 1em;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border-top: solid 1px #e0e0e0;
		border: 0;
		margin-bottom: 1.5em;
	}

	blockquote {
		border-left: solid 0.5em #e0e0e0;
		font-style: italic;
		padding: 1em 0 1em 2em;
	}

	section.special, article.special {
		text-align: center;
	}
		footer {
		margin: 0 0 3em 0;
	}

		footer > :last-child {
			margin-bottom: 0;
		}

		footer.major {
			padding-top: 3em;
		}
/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-o-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		background: #fff;
		border: solid 1px #e0e0e0;
		border-radius: 5px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
		clear: all;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border-color: #37c0fb;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	label {
		display: block;
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 0.5em;
	}

	::-webkit-input-placeholder {
		color: #999999;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder {
		color: #999999;
	}

	::-moz-placeholder {
		color: #999999;
	}

	:-ms-input-placeholder {
		color: #999999;
	}

	.formerize-placeholder {
		color: #999999;
	}

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
		border-radius: 5px;
	}

		.image img {
			display: block;
			border-radius: 5px;
		}

		.image.left {
			display: block;
			float: left;
			margin: 0 2em 2em 0;
			position: relative;
			top: 0.25em;
		}

			.image.left img {
				display: block;
				width: 100%;
			}

		.image.fit {
			display: block;
		}

			.image.fit img {
				display: block;
				width: 100%;
			}

		.image.featured {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.featured img {
				display: block;
				width: 100%;
			}

/* Icon */

	.icon {
		position: relative;
		text-decoration: none;
		clear: all;
		width: 100%;
		margin: auto;
		text-align: center;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

		.icon.major {
			text-align: center;
			cursor: default;
			background-color: #37c0fb;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			color: white;
			border-radius: 100%;
			display: inline-block;
			width: 5em;
			height: 5em;
			line-height: 5em;
			box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
			margin: 0 0 2em 0;
		}

			.icon.major:before {
				font-size: 36px;
			}

/* Lists */

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.links li {
		line-height: 1em;
	}

	ul.icons {
		cursor: default;
	}

		ul.icons li {
			display: inline-block;
			line-height: 1em;
			padding-left: 1.5em;
		}

			ul.icons li:first-child {
				padding-left: 0;
			}

			ul.icons li a, ul.icons li span {
				font-size: 2em;
				border: 0;
			}

	ul.actions {
		cursor: default;
	}

		ul.actions:last-child {
			margin-bottom: 0;
		}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 1.5em;
		}

			ul.actions li:first-child {
				padding: 0;
			}

		ul.actions.vertical li {
			display: block;
			padding: 1.5em 0 0 0;
		}

			ul.actions.vertical li:first-child {
				padding: 0;
			}

	ul.menu li {
		border-left: solid 1px #e0e0e0;
		display: inline-block;
		padding: 0 0 0 1em;
		margin: auto;
	}

		ul.menu li:first-child {
			border-left: 0;
			margin-left: 0;
			padding-left: 0;
		}

/* Tables */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #e0e0e0;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 600;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background-color: #555555;
				background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
				color: #fff;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-o-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
		background-color: #37c0fb;
		background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
		border-radius: 5px;
		border: 0;
		color: white;
		cursor: pointer;
		display: inline-block;
		padding: 0 .5em;
		line-height: 2.75em;
		min-width: 9em;
		text-align: center;
		text-decoration: none;
		font-weight: 600;
		letter-spacing: -0.025em;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #50c8fb;
			color: white !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #1eb8fb;
			color: white;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: #555555;
			color: #fff;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: #626262;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: #484848;
			}

		input[type="submit"].icon:before,
		input[type="reset"].icon:before,
		input[type="button"].icon:before,
		.button.icon:before {
			margin-right: 0.5em;
		}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

/* Box */

	.box.highlight {
		text-align: center;
	}

	.box.post {
		position: relative;
		margin: 0 0 2em 0;
	}

		.box.post:after {
			content: '';
			display: block;
			clear: both;
		}

		.box.post .inner {
			margin-left: calc(30% + 2em);
		}

			.box.post .inner > :last-child {
				margin-bottom: 0;
			}

		.box.post .image {
			width: 30%;
			margin: 0;
		}
			.wrapper {
		padding: 5em 0 3em 0;
	}

		.wrapper.style1 {
			background: #fff;
		}

		.wrapper.style2 {
			background-color: #fff;
			background-image: url("images/bg02.png"), url("images/bg03.png"), url("images/bg01.png");
			background-position: top left,						bottom left,					top left;
			background-size: 100% 6em,						100% 6em,						auto;
			background-repeat: no-repeat,						no-repeat,						repeat;
		}

		.wrapper.style3 {
			background-color: #37c0fb;
			background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.15)), url("images/bg01.png");
			color: white;
		}

			.wrapper.style3 .button {
				background: white;
				color: #474747;
			}

				.wrapper.style3 .button:hover {
					color: #37c0fb !important;
				}

/* CTA */

	#cta {
		text-align: center;
		padding: 3.5em 0;
	}

		#cta header h2 {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
		}

		#cta header .button {
			vertical-align: middle;
			margin-left: 1em;
		}

/* Footer */

	#footer {
		padding: 1em 0 4em 0;
		background: -moz-linear-gradient(-45deg,  rgba(125,185,232,0) 0%, rgba(30,87,153,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(125,185,232,0)), color-stop(100%,rgba(30,87,153,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(-45deg,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* IE10+ */
        background: linear-gradient(135deg,  rgba(125,185,232,0) 0%,rgba(30,87,153,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

		
	}

		#footer li {
			font-size: 12pt;
		}
		#footer a {
			color: navy;
			border-bottom-color: rgba(71, 71, 71, 0.25);
			font-size: 12pt;
		}

			#footer a:hover {
				color: #37C0FB;
				border-bottom-color: transparent;
			}

		#footer .container {
			margin-bottom: 4em;
		}

		#footer .icons {
			width: 50%;
			margin: 0 auto;
			text-align: center;
			font-size: 2em;
			padding-bottom: 2em;
		}

			#footer .icons a {
				color: #999999;
			}

				#footer .icons a:hover {
					color: #474747;
				}
			#footer img{
				    border: none;
    				display: block;
    				margin: 0 auto;
			}

		#footer .copyright {
			color: gray;
			width: 50%;
			margin: 0 auto;
		}
		#footer .copyright a{
			color: gray;
		}
		#footer .copyright a:hover{
			color: navy;
		}