<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>RI State Police| Charitable Gaming Unit</title>
 <link rel="stylesheet" type="text/css" href="/assets/style.css">
 <link rel="icon" type="image/jpg" href="/assets/favicon.jpg"

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!--<%= csrf_meta_tags %>-->
<body>
  <div id="wrapper">
    <div class="header">
    	<div class="container">
    		<div class="logo">
    			<h1>Rhode Island State Police | <a href="http://www.risp.ri.gov/" style="font-size: 25px;">Charitable Gaming Unit</a></h1>
    		</div>
    	</div>
    	<div class="nav">
    		<ul>
    			<li><a href "home">Home |</a></li>
    			<li><a href "about">| About |</a></li>
    			<li><a href "signup">| Sign Up |</a></li>
    			<li><a href "contact">| Contact Us</a></li>
    		</ul>
    	</div>
    </div>
    <div class=content>
<%= yield %>
    </div>
    <!-- Footer -->
      <div id="footer">
        <div class="container">
          <div class="row">
            <section class="3u 6u(narrower) 12u$(mobilep)">
              <h3>Contact Information</h3>
              <ul class="links">
                <li>RI State Police</li>
                <li>Charitable Gaming Unit</li>
                <li>331 Danielson Pike</li>
                <li>North Scituate, RI 02857</li>
                <li>______________________<li>
                <li>phone: (401) 444-1147</li>
                <li>fax: (401) 444-1097</li>
                <li>email: cgu@risp.dps.ri.gov</li>
              </ul>
            </section>
            <section class="3u 6u$(narrower) 12u$(mobilep)">
              <h3>State Police Links</h3>
              <ul class="links">
                <li><a href="http://www.risp.ri.gov/">RI State Police Home</a></li>
                <li><a href="http://www.risp.ri.gov/sectionsandunits/charitablegaming.php">Charitable Gaming Unit</a></li>
                <li><a href="http://www.gambling-law-us.com/State-Laws/Rhode-Island/">RI Gambling Laws</a></li>
                <li><a href="http://webserver.rilin.state.ri.us/AnnReports/2014/RISP_2013AnnualReport.pdf">2013 Annual Report</a></li>
                <li><a href="http://ri.gov">RI.gov Home Page</a></li>
                <li><a href="http://www.dps.ri.gov/">Department of Public Safety</a></li>
                <li><a href="http://www.governor.ri.gov/">Office of the Govenor</a></li>
              </ul> </style>
            </section>
            <section class="6u 12u(narrower)">
              <h3>Get In Touch</h3>
              <form>
                <div class="row 50%">
                  <div class="6u 12u(mobilep)">
                    <input type="text" name="name" id="name" placeholder="Name" />
                  </div>
                  <div class="6u 12u(mobilep)">
                    <input type="email" name="email" id="email" placeholder="Email" />
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
                  </div>
                </div>
                <div class="row 50%">
                  <div class="12u">
                    <ul class="actions">
                      <li><input type="submit" class="button alt" value="Send Message" /></li>
                    </ul>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
        <!-- Icons -->
          <ul class="icons">
            <li><a href="http://www.ri.gov/rss/40/pressrelease.rss" class="icon fa-rss"><img src="/assets/rss.png" /><span class="label">Press Releases</span></a></li>
            <li><a href="https://www.facebook.com/RhodeIslandStatePolice" class="icon fa-facebook"><img src="/assets/facebook.png"/><span class="label">Facebook</span></a></li>
            <li><a href="https://twitter.com/RIStatePolice/" class="icon fa-twitter"><img src ="/assets/twitter.png"/><span class="label">Twitter</span></a></li>
            <li><a href="https://www.youtube.com/user/RhodeIslandSP" class="icon fa-youtube"><img src="/assets/youtube.png"/><span class="label">Youtube</span></a></li>
            <li><a href="#" class="icon fa-google-plus"><img src="/assets/google-plus.png"/><span class="label">Google+</span></a></li>
             <li><a href="#" class="icon fa-linkedin"><img src="/assets/linkedin.png"/><span class="label">Linkedin</span></a></li>
             <li><a href="#" class="icon fa-pintrest"><img src="/assets/pintrest.png"/><span class="label">Pintrest</span></a></li>
          </ul>

        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>|&copy; RI State Police: All Rights Reserved | Designed By: <a href="http://github.com/jpstearns/gtf_app">Systems Group II</a>|</li>
            </ul>
          </div>

      </div>
  </div>
</body>
</html>
